@import url(variables.css);

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--background);
    color:var(--white);
    font-family:var(--primary-font);
    line-height:1.7;
    padding-top: 90px;
}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

button{
    font-family: inherit;
}

select {
    font-family: var(--primary-font);
}

.container{
    padding:40px 0;
    margin:40px
}

section{
    padding:40px 0;
}

.section-title{
    margin: 30px;
}

.btn {
    padding: var(--spacing-md) var(--spacing-xl);
    border-radius: var(--radius-sm);
    font-size: var(--primary-btn-font-size);
    font-weight: var(--medium-font-weight);
    cursor: pointer;
    transition: background-color var(--transition-base);
    border: none;
    font-family: var(--primary-font);
}

.primary-btn {
    background-color: var(--primary);
    color: var(--white);
}

.primary-btn:hover {
    background-color: var(--primary-hover);
}

.secondary-btn {
    background-color: var(--background);
    color: var(--text-primary);
    border: 1px solid var(--border);
}

.secondary-btn:hover {
    background-color: var(--border);
}

