.table-container {
  padding: 0; 
  margin: 0;
  width: 100%;
}

table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0;
    border: 1px solid var(--border);
    border-radius: 6px;
}

thead{
    background-color: #F1F5F9;
}


th,
td{
    padding-block: 1rem;
    padding-left: 1rem;
    text-align: left;
    color: var(--text-secondary);
}

th{
    font-size: 0.75rem;
    font-weight: var(--semi-bold-font-weight);
}


td{ 
    font-size: 0.875rem;
}

th, 
tr:not(:last-child) td {
  border-bottom: 1px solid var(--border);
}

th:first-child {
  border-top-left-radius: 6px;
}
th:last-child {
  border-top-right-radius: 6px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

td.title-data{
    color: var(--text-primary);
}


table .btn{
  padding: 0.375rem 0.75rem ;
  font-size: 0.75rem;
  font-weight: var(--medium-font-weight);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

