@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {

--primary: #2563EB;
--primary-hover: #1D4ED8;
--primary-light: #DBEAFE;


--secondary: #0F172A;
--secondary-light: #334155;


--success: #16A34A;
--success-light: #DCFCE7;


--danger: #DC2626;
--danger-light: #FEE2E2;


--warning: #F59E0B;


--info: #0EA5E9;


--background: #F8FAFC;

--card-background: #FFFFFF;


--text-primary: #0F172A;
--text-secondary: #475569;


--border: #CBD5E1;

--primary-font: "Inter" , sans-serif;

--heading1-font-size: 2.25rem;
--heading2-font-size: 1.5rem;

--card-title-font-size: 0.875rem;
--card-description-font-size: 0.875rem;

--card-number-font-size: 1.875rem;

--nav-font-size: 0.875rem;

--primary-btn-font-size: 0.875rem;

--semi-bold-font-weight: 600;
--medium-font-weight: 500;


}


